/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Styles              */
/* ------------------- */

body {
    background-color: black;
    color: #a1a1a1;
    font-family: monospace;
}

button {
    background-color: black;
    color: #a1a1a1;
    border-radius: 0;
    padding: .2rem .4rem;
    border: 1px solid #a1a1a166;
    cursor: pointer;
}

button:hover {
    color: white;
    border-color: white;
}

button:active {
    background-color: white;
    color: black;
}

input {
    background-color: black;
    color: #a1a1a1;
    border-radius: 0;
    border: 1px solid #a1a1a166;
}

a {
    color: #a1a1a1;
    text-decoration: none;
}

a:hover {
    color: white;
}